@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  background-image: url("./assets/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-position: calc(100% - 6px) center;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter.ttf");
}
@font-face {
  font-family: "Lora";
  src: url(./assets/fonts/lora/Lora.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(./assets/fonts/inconsolata/Inconsolata.ttf);
}

@font-face {
  font-family: "Lora-italic";
  src: url(./assets/fonts/lora/Lora-Italic.ttf);
}
.play-button-svg:hover #circle-element {
  fill: #a445ed;
  opacity: 1;
}

.play-button-svg:hover #path-element {
  fill: white;
  cursor: pointer;
}
